[class*="__container"] {
  max-width: none;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: $md) {
    max-width: 645px;
  }

  // @media (min-width: $lg) {
  //   max-width: 970px;
  //   padding-left: 40px;
  //   padding-right: 40px;
  // }

  // @media (min-width: $xl) {
  //   max-width: 1190px;
  // }
}
