//styleName: 16 Paragraph 2;
@mixin paragraph_16_2 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}

//styleName: 16 Paragraph 2 Medium;
@mixin paragraph_16_2_m {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
}

//styleName: 13 Paragraph 3;
@mixin paragraph_13_3 {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
}

@mixin paragraph_name {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
}
