html {
  font-family: $font-family;
  font-style: normal;
  font-size: 14px;
  font-weight: $font-normal;
  line-height: 1;
  color: $black;
}

button {
  font-family: $font-family;
  font-size: 1rem;
}

label {
  font-size: 1rem;
  line-height: 133%;
}

textarea,
input {
  font-family: $font-family;
  font-size: 1rem;
  outline: none;
}

::placeholder {
  font-size: inherit;
  opacity: 1;
}
