//! COLORS
$white: #ffffff;
$black: #111111;
$graym: #fafafa;
$grayl: #f1f1f1;
$primary: #01a7fd;
$gray: rgba(17, 17, 17, 0.48);
$error: #ff3900;

//! GRID
$md: 768px;
$lg: 992px;
$xl: 1200px;

//! TYPOGRAPHY
$font-family: "Montserrat", sans-serif;
$font-normal: normal;
$font-bold: 500;
$font-bolder: 700;
$font-size: 12;
$font-size-desktop: 20;
